.releaseCycleTable, th, td {
    border: 1px solid black;;
}

.featureCol {
    min-width: 250px;
}

.releaseStatus {
    text-align: center;
    background-color: brown;
    color: white;
}
.releaseStatus.released {
    background-color: rgb(6, 199, 135);
}